.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/**/gradle.xml
.idea/**/libraries
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/
.idea/**
.idea/vcs.xml
.idea
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

**/src/main/java/org/sopt/practice


*.yml
.yml

diary.txt
/diary.txt
**/diary.txt
/Users/macbook/Desktop/SOPT/Server/homework/seminar/diary.txt